<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>EntrySense</title>
  <link rel="stylesheet" href="/static/app/style.css" />
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>

<body>
  <div class="desktopMenu">
    <div class="sectionContainer">
        <div class="sectionItem" data-tab="account">
            <p>Account</p>
            <div id="sectionUnderline-account"></div>
        </div>
    </div>
    <div class="sectionContainer">
        <div class="sectionItem" data-tab="dashboard">
            <p>Dashboard</p>
            <div id="sectionUnderline-dashboard"></div>
        </div>
    </div>
    <div class="sectionContainer">
        <div class="sectionItem" data-tab="history">
            <p>History</p>
            <div id="sectionUnderline-history"></div>
        </div>
    </div>
  </div>

  <div class="root" id="root"></div>

  <script src="/static/app/app.js"></script>
</body>
</html>