@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

body {
  background-color: #161616;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  margin: 0;
}

.authCard {
  width: 500px;
  height: 750px;
  background-color: #323232;
  border-radius: 15px;
}

.logoContainer, .promptContainer, .formContainer, .buttonContainer, .errorMessagecontainer, .formSwitchContainer {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoContainer div {
  width: 128px;
  height: 128px;
  background-color: #646464;
  border-radius: 15px;
}

.promptContainer {
  height: 80px;
}

.promptContainer p {
  font-size: 40px;
  font-weight: 500;
}

.formContainer {
  height: 300px;
  flex-direction: column;
}

.formContainer div {
  width: 85%;
  height: 125px;
}

.formContainer div p {
  margin: 20px 0 20px 0;
  font-size: 20px;
  font-weight: 500;
}

.formContainer div input {
  width: calc(100% - 30px);
  height: 50px;
  padding: 0 15px 0 15px;
  background-color: #484848;
  color: white;
  font-size: 18px;
  border: 0;
  border-radius: 5px;
  transition: box-shadow ease 0.25s;
}

.formContainer div input:focus {
  outline: none;
  border: 1px solid #888;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
}

.buttonContainer {
  height: 50px;
}

.loginButton {
  width: 50%;
  height: 100%;
  background-color: #4f46e5;
  color: white;
  font-size: 20px;
  font-weight: 500;
  border: 0;
  border-radius: 5px;
  transition: transform ease 0.25s;
}

.loginButton:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.loginButton:active {
  transform: scale(0.98);
}

.errorMessagecontainer {
  height: 60px;
  opacity: 0;
}

.errorMessagecontainer p {
  font-size: 20px;
  color: red;
  transition: opacity ease 0.25s;
}

.formSwitchContainer {
  align-items: start;
  height: 60px;
}

.formSwitchContainer p {
  font-size: 18px;
}

.formSwitchContainer p a {
  text-decoration: none;
  color: #6f68fb;
  font-weight: 500;
}