@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: white;
  overflow: hidden;
}

body {
  background-color: #161616;
}

p {
  margin: 0;
}

.desktopMenu {
    width: 100%;
    height: 100px;
    background-color: #323232;
    border-radius: 0 0 15px 15px;
    display: flex;
    justify-content: space-evenly;
}

.sectionContainer {
    width: 33.33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionItem {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sectionItem p {
    font-size: 24px;
}

.sectionUnderline {
    width: 0;
    height: 2px;
    margin-top: 5px;
    background-color: white;
    border-radius: 2px;
    transition: width ease 0.25s;
}

.sectionItem:hover {
    cursor: pointer;
}

.sectionItem:hover .sectionUnderline {
    width: 100%;
}