@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: white;
  overflow: hidden;
}

body {
  background-color: #161616;
}

p {
  margin: 0;
}

.desktopMenu {
    width: 100%;
    height: 100px;
    background-color: #323232;
    border-radius: 0 0 15px 15px;
    display: flex;
    justify-content: space-evenly;
    user-select: none;
}

.sectionContainer {
    width: 33.33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionItem {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sectionItem p {
    font-size: 24px;
    font-weight: 500;
}

.sectionItem div {
    width: 0;
    height: 2px;
    margin-top: 5px;
    background-color: white;
    border-radius: 2px;
    transition: width ease 0.25s;
}

.sectionItem:hover {
    cursor: pointer;
}

.sectionItem:hover div {
    width: 100%;
}

.root {
    width: 100%;
    height: calc(100% - 100px)
}

.dashboardContent, .accountContent, .historyContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.historyContent {
    gap: 50px;
}

.accountCard {
    width: 500px;
    height: 700px;
    background-color: #323232;
    border-radius: 15px;
}

.avatarContainer, .formContainer, .promptContainer {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar {
    width: 128px;
    height: 128px;
    border-radius: 100px;
    background-color: #646464;
}

.promptContainer {
    height: 80px;
}

.promptContainer p {
    font-size: 40px;
    font-weight: 500;
}

.formContainer {
  height: 425px;
  flex-direction: column;
}

.formContainer div {
  width: 85%;
  height: 125px;
}

.formContainer div p {
  margin: 20px 0 20px 0;
  font-size: 20px;
  font-weight: 500;
}

.formContainer div input {
  width: calc(100% - 30px);
  height: 50px;
  padding: 0 15px 0 15px;
  background-color: #484848;
  color: white;
  font-size: 18px;
  border: 0;
  border-radius: 5px;
  transition: box-shadow ease 0.25s;
}

.formContainer div input:focus {
  outline: none;
  border: 1px solid #888;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
}

.formContainer div input:disabled {
    background-color: #2a2a2a;
    color: #9ca3af;
    cursor: not-allowed;
    opacity: 0.7;
}

.protectionStatus {
    display: flex;
    gap: 15px;
}

.protectionStatus .message, .protectionStatus .status {
    font-size: 48px;
    font-weight: 500;
}

.protectionStatus .status {
    font-weight: 600;
}

.protectionStatus .statusOn {
    color: #22c55e;
    text-shadow: 0 0 5px rgba(34, 197, 94, 0.6), 0 0 10px rgba(34, 197, 94, 0.4);
}

.protectionStatus .statusOff {
    color: #ef4444;
    text-shadow: 0 0 5px rgba(239, 68, 68, 0.6), 0 0 10px rgba(239, 68, 68, 0.4);
}

.protectionSwitch {
    width: 50%;
    height: 200px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.protectionSwitch input {
    width: 200px;
    height: 50px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border: 0;
    border-radius: 5px;
    transition: transform ease 0.25s;
}

.protectionSwitch input:enabled:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.protectionSwitch input:enabled:active {
  transform: scale(0.98);
}

.protectionSwitch input:disabled {
  background-color: #2a2a2a;
  color: #9ca3af;
  cursor: not-allowed;
  opacity: 0.6;
}

.armButton {
    background-color: #22c55e;
}

.disarmButton {
    background-color: #ef4444;
}

.lastTrack {
    font-size: 28px;
}

.historyFilter {
    width: 250px;
    height: 75px;
    padding: 0 15px 0 15px;
    background-color: #323232;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border: 0;
    border-radius: 5px;
    transition: box-shadow ease 0.25s;
}

.historyFilter:focus {
    outline: none;
    border: 1px solid #888;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
}

.historyList {
    width: 500px;
    height: 500px;
    background-color: #323232;
    border-radius: 15px;
}

.listTitle {
    width: 475px;
    height: 75px;
    padding-left: 25px;
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 600;
}

.recordsTable {
  width: 100%;
}

.tableCategories {
  display: grid;
  grid-template-columns: 2fr 3fr;
  height: 73px;
  align-items: center;
  background-color: #262626;
  border-bottom: 2px solid #161616;
}

.tableCategories p {
  padding-left: 25px;
  font-size: 22px;
  font-weight: 600;
}

.recordsList {
    width: 100%;
    height: 350px;
    overflow-y: scroll;
}

.tableRecord {
  display: grid;
  grid-template-columns: 2fr 3fr;
  height: 75px;
  align-items: center;
  border-bottom: 1px solid #161616;
}

.tableRecord p {
  padding-left: 25px;
  font-size: 18px;
}
