@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: white;
  overflow: hidden;
}

body {
  background-color: #161616;
}

p {
  margin: 0;
}

.desktopMenu {
    width: 100%;
    height: 100px;
    background-color: #323232;
    border-radius: 0 0 15px 15px;
    display: flex;
    justify-content: space-evenly;
    user-select: none;
}

.sectionContainer {
    width: 33.33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionItem {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sectionItem p {
    font-size: 24px;
    font-weight: 500;
}

.sectionItem div {
    width: 0;
    height: 2px;
    margin-top: 5px;
    background-color: white;
    border-radius: 2px;
    transition: width ease 0.25s;
}

.sectionItem:hover {
    cursor: pointer;
}

.sectionItem:hover div {
    width: 100%;
}

.root {
    width: 100%;
    height: calc(100% - 100px)
}

.dashboardContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.protectionStatus {
    display: flex;
    gap: 15px;
}

.protectionStatus .message, .protectionStatus .status {
    font-size: 48px;
    font-weight: 500;
}

.protectionStatus .status {
    font-weight: 600;
}

.protectionStatus .statusOn {
    color: #22c55e;
    text-shadow: 0 0 5px rgba(34, 197, 94, 0.6), 0 0 10px rgba(34, 197, 94, 0.4);
}

.protectionStatus .statusOff {
    color: #ef4444;
    text-shadow: 0 0 5px rgba(239, 68, 68, 0.6), 0 0 10px rgba(239, 68, 68, 0.4);
}

.protectionSwitch {
    width: 50%;
    height: 200px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.protectionSwitch input {
    width: 200px;
    height: 50px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border: 0;
    border-radius: 5px;
    transition: transform ease 0.25s;
}

.protectionSwitch input:enabled:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.protectionSwitch input:enabled:active {
  transform: scale(0.98);
}

.protectionSwitch input:disabled {
  background-color: #2a2a2a;
  color: #9ca3af;
  cursor: not-allowed;
  opacity: 0.6;
}

.armButton {
    background-color: #22c55e;
}

.disarmButton {
    background-color: #ef4444;
}

.lastTrack {
    font-size: 28px;
}